.parent {
    display: grid;
    grid-template-rows: 100px 600px 100px;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 30px;
    
  }
.parent {
    display: grid;
    grid-template-areas:
      "H F A A"
      "H F A A"
      "H F A A";
  }
  #two {
    grid-area: H;
    position: fixed;
  }
  
  #three {
    grid-area: F;
  }
  
  #four {
    grid-area: A;
  }
  
  #two {
    background-color: #eee;
    
    
    
  }
  
  #three {
    background-color: #eee;
    color: black;
  }
  
  #four {
    background-color: #eee;
  }

  #logo{
    width: 200px;
    height: 200px;

  }


  
  .vertical-menu a {

    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: white; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu .link {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: black;
  }

  @media only screen and (max-width: 600px) {
    #logo{
        width: 100px;
        height: 100px;
    }
    #four{
      display: none;
    }
  }

  @media only screen and (max-width: 320px){ 
    #logo{
      width: 50px;
      height: 50px;
    }
  }