
.photo-container{
  background: #AAB8C2;
}

.parent {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 30px;
    background: #AAB8C2;
    
  }
.parent {
    display: grid;
    grid-template-areas:
      "H F A A"
      "H F A A"
      "H F A A";
      
  }
  #two {
    grid-area: H;
    position: fixed;
  }
  
  #three {
    grid-area: F;

  }
  
  #four {
    height: 500px;
    grid-area: A;
    position: fixed;
    right: 0;
    overflow-y: scroll
  }
  
  #two {
    background-color: #eee;
    
    
    
  }
  
  #three {
    background-color: #eee;
    color: black;
  }
  
  #four {
    background-color: #E1E8ED;
  }

  #logo{
    width: 200px;
    height: 200px;

  }


  
  .vertical-menu a {

    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: white; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu .link {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: black;
  }

  @media only screen and (max-width: 600px) {
    #logo{
        width: 100px;
        height: 100px;
    }
    #four{
      display: none;
    }
    #two{
      display: none;
    }
    
    .parent {
      display: flex;
      
    }
    
  }

  @media only screen and (max-width: 320px){ 
    #logo{
      width: 50px;
      height: 50px;
    }
    #two{
      display: none;
    }
    #four{
      display: none;
    }
    
    .parent {
      display: flex;
      
    }
    
  }

  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
#two{
  display: none;
}

.parent {
  display: flex;
  
}
#four{
  display: none;
}

    }

    @media(max-width: 320px){ 
      #two{
        display: none;
      }
      
      .parent {
        display: flex;
        
      }
      #four{
        display: none;
      }
    }