.flex{
    display:flex;
    justify-content: center;
}
#name{
    display: flex;
}

.navbar{
    padding: 30px;
}

.logo-name{
    display: flex;
    justify-content: center;
}

.logo-name h1{
    font-size: 25px;
    color: #357EDD;
}

